{% extends "AcmeGuestbookBundle::layout.html.twig" %}

{% block title "Welcome " %}

    {% block content %}

        <div id="wrap">
            <div class="container">
                <div class="alert alert-success">
                    <h1>Forms</h1>
                    <p>Dealing with HTML forms is one of the most common - and challenging - tasks for a web developer.
                        Symfony2 integrates a Form component that makes dealing with forms easy. In this chapter, you'll
                        build a complex form from the ground-up, learning the most important features of the form
                        library along the way.
                    </p>
                </div>
            </div>
        </div>

    {% endblock %}
